<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/menu.css}" rel="stylesheet" />
  <link th:href="@{/css/card.css}" rel="stylesheet" />
  <link th:href="@{/css/administration.css}" rel="stylesheet" />
  <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>

<h1 id="header-h1">Modification de l'article</h1>

<div class="container">
  <div class="half-page">
    <form action="/adminpanel/ordermanager/order/" method="get">
    <h2>Gestion des commandes</h2>
    <button role="button" class="button-name">Gerer</button>
    </form>
  </div>
  <div class="half-page">
    <form action="/adminpanel/stockmanager" method="get">
    <h2>Gestion des stocks</h2>
    <button role="button" class="button-name">Gerer</button>
    </form>
  </div>
  <div class="half-page">
    <form action="/adminpanel/produitmanager" method="get">
      <h2>Gestion des produits</h2>
      <button role="button" class="button-name">Gerer</button>
    </form>
  </div>
</div>
</body>
</html>