<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/menu.css}" rel="stylesheet" />
  <link th:href="@{/css/card.css}" rel="stylesheet" />
  <link th:href="@{/css/modifarticle.css}" rel="stylesheet" />
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>

<h1 id="header-h1">Ajout d'un article</h1>

<div class="container">
  <div class="half-page">
    <div th:replace="fragments/card :: my_fragment(name='Product title', image='', price='123.45', description='Product description. Lorem ipsum dolor sit amet, consectetur adipisicing elit.', isPurchasable=${false})"></div>
  </div>
  <div class="half-page">
    <form class="form" method="post" enctype="multipart/form-data" >

      <div class="flex">

        <label>
          <input name="name" required="" placeholder="" type="text" class="input">
          <span>Nom de l'article</span>
        </label>
      </div>

      <label>
        <input name="quantity" required="" placeholder="" type="int" class="input">
        <span>Quantité</span>
      </label>
      <label>
        <input name="price" required="" type="int" placeholder="" class="input">
        <span>Prix</span>
      </label>
      <label>
        <input name="file" type="file" placeholder=""  />>
        <span>image de l'article</span>
      </label>
      <label>
        <textarea rows="3" name="description" placeholder="" class="input01"></textarea>
        <span>Description</span>
      </label>

      <button class="fancy" href="#">
        <span class="top-key"></span>
        <span class="text">Ajouter l'article</span>
        <span class="bottom-key-1"></span>
        <span class="bottom-key-2"></span>
      </button>
    </form>
  </div>
</div>
</body>
</html>